.flexbox_container {
    flex-direction: row;
    display: inline-flex;
    width: 100%;
}

.title_item {
    font-size: 32px;
    font-family: 'Lucida Sans Regular';
    font-weight: bolder;
    text-align: left;
    padding: 2rem;
}

.logo_item {
    padding: 1rem;
    margin: 5px;
}

.search_box {
    padding: 1rem;
    margin: 5px;
    transition-timing-function: ease-in-out .5s;
}

.datepicker {
    height: 40px;
    align-content: right ;
    border-color: blue;
    font-style: italic;
    text-align: center;
    color: tomato;
}

.popup_container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
}

.popup {
    width: 250px;
    height: 250px;
    align-content: center;
    padding: 3rem;
    margin: 25% auto;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    text-justify: auto;
} 