.flexbox_container {
  position: relative;
  flex-direction: row;
  display: inline-flex;
  width: 100%;
  bottom: 0;
  top: 0;
}

.title_item {
  font-size: 32px;
  font-family: "Lucida Sans Regular";
  font-weight: bolder;
  text-align: left;
  padding: 2rem;
  color: rgb(183, 183, 255);
}

.logo_item {
  padding: 1rem;
  margin: 5px;
}

.search_box {
  padding: 1rem;
  margin: 5px;
  transition-timing-function: ease-in-out 0.5s;
}

.datepicker {
  height: 40px;
  align-content: right;
  border-color: blue;
  font-style: italic;
  text-align: center;
  color: tomato;
}

.modal {
  font-size: 20px;
}

.modal > .header {
  width: 100%;
  border-bottom: 1px;
  font-size: 20px;
  text-align: left;
  padding: 5px;
  font-weight: bolder;
  text-decoration-line: underline;
  font-family: 'Helvetica Neue';
}
.modal > .content {
  justify-content: left;
  font-family: 'Cantarell';
  font-weight: 500;
  text-justify: newspaper;
  text-align: left;
  width: 100%;
  padding: 10px 5px;
  line-height: 1.6em;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 26px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #c50c0c;
  border-radius: 18px;
  border: 2px dotted #cfcece;
}

.guide-1 Button {
  position: fixed;
  bottom: 150px;
  right: 110px;
  color: rgba(223, 223, 236, 0.863);
  background-color: rgba(0, 66, 128, 0.856);
}

.overlay Button {
  position: absolute;
  bottom: 150px;
  right: 110px;
  color: rgba(223, 223, 236, 0.863);
  background-color: rgba(0, 66, 128, 0.856);
}

.cams-logo {
  position: absolute;
  border: 3px lightblue;
  height: 40px;
  weight: 75px;
  bottom: 30px;
  left: 120px;
}

.footer {
  border: 1px lightblue;
  width: 100%;
  height: 48px;
  position: relative;
  color: rgba(223, 223, 236, 0.863);
  background-color: rgba(0, 66, 128, 0.856);
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
