.flexbox_container {
  position: absolute;
  flex-direction: row;
  /* display: inline-flex; */
  width: 100%;
  height: 20px ;
  bottom: 0;
  left: 0;
  top: 0;
  padding: 0;
}

/* .title_group {
  padding: 2.5rem;
} */


/* HEADER STYLES */

.title_item {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-family: Helvetica;
  font-weight: bold;
  font-style: normal;
  text-align-last: left;
  text-shadow: blue;
  color: #ffffff;
  margin-top: 30px;
}

.logo_item {
  justify-content: center;
  margin: 4px;
}


.search_box {
  margin-top: 40px;
  padding-right: 10px;
  justify-content: right;
  /* margin: 5px; */
  transition-timing-function: ease-in-out 0.5s;
}

@media only screen and (max-width: 800px) {
  .title_item {
    font-size: 15px;
    padding: 0.5rem;
    text-align: left;
  }

  .logo_item {
    padding: 0.5rem;
    margin: 1px;
  }
}

/* END HEADER */



.modal {
  font-size: 20px;
}

.modal > .header {
  width: 100%;
  border-bottom: 1px;
  font-size: 20px;
  text-align: left;
  padding: 5px;
  font-weight: bolder;
  text-decoration-line: underline;
  font-family: 'Helvetica Neue';
}
.modal > .content {
  justify-content: left;
  font-family: 'Cantarell';
  font-weight: 500;
  text-justify: newspaper;
  text-align: left;
  width: 100%;
  padding: 10px 5px;
  line-height: 1.6em;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 26px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #c50c0c;
  border-radius: 18px;
  border: 2px dotted #cfcece;
}

.guide-1 Button {
  position: fixed;
  bottom: 100px;
  right: 110px;
  color: rgba(223, 223, 236, 0.863);
  background-color: rgba(0, 66, 128, 0.856);
}

.overlay Button {
  position: absolute;
  bottom: 200px;
  right: 110px;
  color: rgba(223, 223, 236, 0.863);
  background-color: rgba(0, 66, 128, 0.856);
}

.cams-logo {
  position: absolute;
  border: 3px lightblue;
  height: 40px;
  bottom: 50px;
  left: 150px;
}

/* .footer {

  border: 1px lightblue;
  width: 100%;
  height: 48px;
  position: relative;
  color: rgba(223, 223, 236, 0.863);
  background-color: rgba(0, 66, 128, 0.856);
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
} */
 
.footer {
  position: relative;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex: 1;
  letter-spacing: 0.01em;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  justify-content: center;
  color: white;
  background: transparent;
  height: 5vh;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer div div div p {
  margin-top: 6px;
}

.footer_nav {
  display: flex;
  margin-right: 0;
  text-align: right;
}

.footer_nav h5 {
  font-size: 14px;
  margin-left: 35px;
}