.timeline-container {
  position: absolute;
  top: 83vh;
  width: 98vw;
}

.timeline {
  margin: 0 auto;
}

.slider {
  position: relative;
  width: 696px;
  height: 2px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.6);
  /* Highlight (White) */
  box-shadow: 0px 1px 6px rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.thumb {
  width: 9px;
  height: 9px;
  border-radius: 1px;
  position: relative;
  top: -3px;
  cursor: pointer;
  /* Light Blue */
  background: #19c8ff;
  box-shadow: 0px 0px 14px rgba(255, 255, 255, 0.45);
  border-radius: 1px;
}
