.timeline-container {
  position: absolute;
  top: 76vh;
  width: 98vw;
}

.timeline {
  margin: 0 auto;
  display: grid;
  width: fit-content;
  grid-template-rows: 40px 50px;
  row-gap: 30px;
  align-items: center;
}

.row-1 {
  display: flex;
  align-items: center;
}

.row-2 {
  display: grid;
  grid-template-columns: 40px 1fr 2fr 1fr;
  grid-template-areas: 
    "space start loop end";
  height: fit-content;
  align-items: center;
}

.loop {
  justify-self: start;
  color: #fff;
  grid-area: loop;
}

.start {
  grid-area: start;
  position: relative;
}

.end {
  justify-self: end;
  grid-area: end;
  position: relative;
}

.label-date {
  position: absolute;
  top: -18px;
  /* font-family: Roboto Mono; */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.play-icon {
  width: 40px;
  height: 19px;
  background-image: url('../images/play icon.png');
}

.slider {
  position: relative;
  width: 696px;
  height: 2px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.6);
  /* Highlight (White) */
  box-shadow: 0px 1px 6px rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.thumb {
  width: 9px;
  height: 9px;
  border-radius: 1px;
  position: relative;
  top: -4px;
  cursor: pointer;
  /* Light Blue */
  background: #19c8ff;
  box-shadow: 0px 0px 14px rgba(255, 255, 255, 0.45);
  border-radius: 1px;
}

.thumb-tick {
  width: 3px;
  height: 25px;
  position: relative;
  top: -8px;
  left: 3px;
  /* Light Blue */
  background: #19C8FF;
  box-shadow: 0px 0px 14px rgba(255, 255, 255, 0.45);
  border-radius: 5px;
  transform: rotate(-180deg);
}