.App {
  text-align: center;
  color: rgb(24, 27, 37);
  height: 1024px;
}

.switch {
  position: inherit;
  background: transparent;
  justify-items: baseline;
}

.globe {
  fill: #003bff;
  pointer-events: none;
}

.globe-container {
  height: 80%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  border-bottom: 0%;
}

.land {
  fill: #bcbcbc;
  pointer-events: none;
}

.guide {
  stroke: #3299bb;
  pointer-events: none;
}

.guide-label {
  fill: #3299bb;
  pointer-events: none;
}

.cellestial-globe {
  fill: #355886;
  pointer-events: none;
}

.meteor {
  fill: #ffffff;
  fill-opacity: 1;
}

.star {
  fill: #000000;
  fill-opacity: 1;
}

.sun {
  fill: #ffff00;
  fill-opacity: 1;
}

.star-label {
  text-transform: uppercase;
  font-size: 10px;
  fill: #fff;
  fill-opacity: 0.6;
}

.graticule {
  fill: none;
  stroke: #aaa;
  stroke-width: 1px;
  stroke-opacity: 0.3;
  pointer-events: none;
}

.graticule-black {
  fill: none;
  stroke: #555;
  stroke-width: 1px;
  stroke-opacity: 0.5;
}

.popup {
  position: absolute;
  z-index: 100;
  height: 30px;
  font-size: 16pt;
  width: 60px;
  border: 2px solid white;
  border-radius: 12px;
  background-color: white;
}

.info {
  position: absolute;
  z-index: 100;
  height: 80px;
  font-size: 10pt;
  width: 80px;
  border: 2px solid black;
  border-radius: 3px;
  background-color: white;
}

.checkbox Button {
  position: inherit;
  top: 250px;
  right: 60px;
  font-size: 25px;
  color: #f5eaea;
  font-weight: 800;
}
 